body{
    width:1200px;
    background-color:silver;
    font-family: 'Montserrat', sans-serif;
}
a {
    color:white;
    font-weight:bold;
    padding: 15px;
    margin: 15px;
    }
h1{
    font-weight:bold;
    font-size: 200%;
}
nav{
    display:flex;
    background-color: purple;
    align-content: center;
    justify-content: space-between;
    color: white;
    margin: 20px;
    padding: 30px; 
    flex-shrink: 1;}  

.nav-bar{
    padding: 20px;
    align-content: flex-end;
    color: white;
    display: inline;
}
.nav-bar:hover{
    background-color:violet;
}
main{
    display: flex;
}
.web-apps{
    justify-content: space-around;
    flex-shrink: 0;
}

.cards{
    flex-wrap: wrap;
    display: inline;
    z-index: 1;
}
.hover-image{
    position: relative;
    width: 310px;
    height: 250px;
}
.hover.description{
    position: absolute;
    margin: 0;
    color:white;
    visibility: hidden;
}
.hover-image:hover title{
    visibility: visible;
    opacity:1;
}
.cards:hover{
    opacity: .5;
}
img{
    width: 310px;
    height: 250px;
    padding: 10px;
    margin: 20px 0px;
    border: 3px solid purple;
}
aside{
    display: flex;
    flex-wrap:wrap;
    width: 400px;
    height: 80%;
}
#headshot{
    width:300px;
    height: 400px;
    margin: 25px;
    padding: 25px;
}
footer{
    margin: 50px;
    padding: 50px;
    border: 3px solid purple;
}
#bio, label {
    font: weight 500px;
    
}
#bio{
    margin: 25px;
}
.contact {
    padding: 10px;
    margin: 10px;
}

@media screen and (max-width: 600px) {
    .web-apps, aside{
        width: 75%;
    }
    
}